<article class="b-aitem">
    <div class="row b-aitem__header">
        <img class="b-aitem__photo" src="images/content/krilov.jpg" alt=""/>
        <div class="b-aitem__detalis">
            <h2 class="b-aitem__title"><a href="analitics-inner.html">Ненадежный голос</a></h2>
            <span class="b-aitem__autor">By <a href="#">Константин Анкилов</a></span>
            <span class="b-aitem__date">8/7/2014</span>
        </div>
    </div>
    <div class="b-text b-aitem__text">
        <p><em>"Падение выручки по голосовым мобильным услугам оператор (""Вымпелком"") компенсировал ростом выручки от мобильной передачи данных. Генеральный директор исследовательской компании ""ТМТ консалтинг"" Константин
        </em><strong><a class="b-aitem__more" href="#">больше</a></strong></p>
    </div>
</article>