<article class="b-aitem b-aitem_direction">
    <div class="row b-aitem__header">
        <div class="b-aitem__detalis">
            <h2 class="b-aitem__title">Название статьи</h2>
            <div class="b-aitem__breadcrumb"><a href="#">Телекомуникации</a>/<a href="#">Доступ в интернет</a>/<a href="#">Коментарии</a></div>
            <span class="b-aitem__autor">By <a href="#">Константин Анкилов</a></span>
            <span class="b-aitem__date">8/7/2014</span>
            <span class="b-aitem__file"><a href="#">Скачать PDF файл</a> (2,4 мб ~ 30 сек)</span>
        </div>
    </div>
    <div class="b-text b-aitem__text">
        <p><em>"Падение выручки по голосовым мобильным услугам оператор (""Вымпелком"") компенсировал ростом выручки от мобильной передачи данных. Генеральный директор исследовательской компании ""ТМТ консалтинг"" Константин
        </em></p>
    </div>
</article>