<div class="widget">
    <div class="menu-container">
        <ul class="menu">
            <li class="menu-item current-menu-item">
                <a href="#">о ТМТ Консалтинг</a>
            </li>
            <li class="menu-item">
                <a href="#">Последние исследования</a>
            </li>
            <li class="menu-item">
                <a href="#">Мнение аналитиков</a>
            </li>
            <li class="menu-item">
                <a href="#">Вакансии</a>
            </li>
        </ul>
    </div>
</div>