@@include('blocks/_b-header.html')
<div class="b-page">
    <div class="container">
        <div class="row">
            <aside class="span4 b-sidebar">
                @@include('blocks/_sidebar-menu.html')
            </aside>
            <div class="span8">
                <h1 class="b-page__title">Направления</h1>
                <div class="b-text">
                    <h1>H1 header</h1>
                    <h2>H2 header</h2>
                    <h3>H3 header</h3>
                    <h4>H4 header</h4>
                    <h5>H5 header</h5>
                    <h6>H6 header</h6>
                    <p>Аржиллана регионально приводит к появлению лессиваж. Лессиваж, согласно традиционным представлениям, однородно переносит агрегат. Гумин дает десуктивно-выпотной журавчик.</p>
                    <p>Аржиллана регионально приводит к появлению лессиваж. Лессиваж, согласно традиционным представлениям, однородно переносит агрегат. Гумин дает десуктивно-выпотной журавчик.</p>
                    <blockquote><p>Аржиллана регионально приводит к появлению лессиваж. Лессиваж, согласно традиционным представлениям, однородно переносит агрегат. Гумин дает десуктивно-выпотной журавчик.</p></blockquote>
                    <div class="row">
                        <div class="span6">
                            <p>Аржиллана регионально приводит к появлению лессиваж. Лессиваж, согласно традиционным представлениям, однородно переносит агрегат. Гумин дает десуктивно-выпотной журавчик.</p>
                        </div>
                        <div class="span6">
                            <p>Аржиллана регионально приводит к появлению лессиваж. Лессиваж, согласно традиционным представлениям, однородно переносит агрегат. Гумин дает десуктивно-выпотной журавчик.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')