.widget{
    padding-top: em(40);
    &:first-child{
        padding-top: 0;
    }
    .widgettitle{
        color: #f26522;
        $font-size: 22;
        font-size: em($font-size);
        font-weight: 700;
        text-transform: uppercase;
        padding: em(8, $font-size) 0 em(14, $font-size) em(25, $font-size);
    }
}